<h1><%= @book.title %></h1>

<p><%= @book.author %></p>

<li><%= link_to "Edit", edit_book_path(@book) %></li>
<li><%= button_to 'Destroy', @post, method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } } %></li>